<ion-content [fullscreen]="true">

  <swiper-container slides-per-view="1" speed="500" loop="true" navigation="true" pagination="true" scrollbar="true" effect="cube" autoplay-delay="500">
    <swiper-slide>
      <img src="https://c4.wallpaperflare.com/wallpaper/241/6/465/digital-art-artwork-illustration-vertical-women-hd-wallpaper-preview.jpg" alt="">
      <h1>Slide 1</h1>
    </swiper-slide>
    <swiper-slide>
      <img src="https://c4.wallpaperflare.com/wallpaper/241/6/465/digital-art-artwork-illustration-vertical-women-hd-wallpaper-preview.jpg" alt="">
      <h1>Slide 2</h1>
    </swiper-slide>
    <swiper-slide>
      <img src="https://c4.wallpaperflare.com/wallpaper/241/6/465/digital-art-artwork-illustration-vertical-women-hd-wallpaper-preview.jpg" alt="">
      <h1>Slide 3</h1>
    </swiper-slide>
    <swiper-slide>
      <img src="https://c4.wallpaperflare.com/wallpaper/241/6/465/digital-art-artwork-illustration-vertical-women-hd-wallpaper-preview.jpg" alt="">
      <h1>Slide 4</h1>
    </swiper-slide>
  </swiper-container>

</ion-content>
